<div class = "container"><% if @event.errors.any? %>
  <div class="alert alert-danger" role="alert">&times
    Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<h1>Voici ici le formulaire de création d'Event ehehe</h1>

<%= form_with model: @event do |form| %>
  <%= form.text_field :first_name, placeholder: 'Ton prénom'%><br/>
  <%= form.date_field :start_date, placeholder: "Le début de l'evenement ?"%><br/>
  <%= form.number_field :duration, placeholder: 'La durée ?' %><br/>
  <%= form.text_field :title, placeholder: 'Peut etre un titre ?' %><br/>
  <%= form.text_field :description, placeholder: "Décris nous l'event" %><br/>
  <%= form.number_field :price, placeholder: 'Peut être un prix ?' %><br/>
  <%= form.text_field :location, placeholder: 'Le lieu ?'%><br/>
  <%= form.submit "Create" %>
<% end %>